<div class="container__right--loginLogout loginLogout">
  <div class="loginLogout__message">
    <h5>Вы не вошли в свой аккаунт</h5>
    <p class="text--grey text--s">Пожалуйста, войдите в свой аккаунт или зарегистрируйтесь, чтобы иметь возможность добавить товары в корзину и оформить заказ</p>
  </div>
  <div class="loginLogout__button">
    <button type="button" id="login" class="loginLogout__button--login text--white text--xs">Войти в аккаунт</button>
    <button type="button" id="createAccount" class="loginLogout__button--createAccount text--white text--xs">Зарегистрироваться</button>
  </div>
</div>
