<header class="header text text--s">
  <div class="header__left">
    <div class="logo--mobile">
      <img src="../../img/logo/logo.png" alt="Company logo" />
    </div>
    <div class="header__left__left text--semi-bold">
      <div class="contacts"></div>
      <div class="schedule">
        <i class="fa-regular fa-clock text--orange"></i>
        <span class="text--xs text--grey">@@schedule</span>
      </div>
    </div>
    <div class="header__left__right location text--light text--xs text--grey">
      <p>Город:</p>
    </div>
  </div>
  <div class="header__right">
    <ul>
      <li>Отзывы</li>
      <li>Доставка и оплата</li>
      <li>@@include("./search/_search.html")</li>
    </ul>
  </div>
</header>
