@import './search/search.scss';

.header {
  background-color: $central-background;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid $grey;
  align-items: center;

  /*@include middle() {
    flex-direction: column;
    align-items: flex-end;
  }*/

  @include middle() {
    flex-direction: row;
    background-color: $white;
  }

  .header__left {
    display: flex;
    justify-content: start;

    .logo--mobile {
      display: none;

      @include middle() {
        display: flex;
        align-items: center;
        margin-left: 10px;

        img {
          width: 47px;
        }
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      border-right: 0.5px solid $grey;
      text-align: center;

      @include mobile() {
        border-right: none;
      }

      .contacts {
        padding: 10px;
        min-width: 150px;

        @include mobile() {
          min-width: 100px;
        }

        ul li {
          padding-bottom: 5px;

          &:not(:first-child) {
            color: $orange;
          }
        }
      }

      .schedule {
        padding: 0 10px 5px 10px;
        i {
          vertical-align: middle;
        }

        @include mobile() {
          flex: 0 1 auto;

          span {
            display: block;
            line-height: 15px;
          }
        }
      }
    }

    &__right {
      padding: 10px;
      margin: auto 0;

      @include mobile() {
        margin: 0;
        padding: 5px;
      }

      p {
        padding: 5px;
      }

      select {
        border: none;
        background-color: $central-background;
        border-radius: 10px;
        cursor: pointer;
        outline: none;
      }
    }
  }

  .header__right {
    @include mobile() {
      margin: auto 0;
    }

    ul {
      display: flex;
      justify-content: end;
      align-items: center;
      text-align: end;
      flex-wrap: wrap;

      @include xlarge() {
        flex-direction: column;
        align-items: flex-end;
        padding-top: 10px;
      }

      li {
        cursor: pointer;
        padding-right: 10px;

        @include large() {
          padding-bottom: 10px;
        }

        @include mobile() {
          padding-right: 0px;
        }

        &:hover {
          color: $orange;
        }

        &:not(:last-child) {
          @include middle() {
            display: none;
          }
        }
      }
    }
  }
}
