.container__card {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 400px;
  background-color: $white;
  border-radius: 10px;
  transition: all 0.5s ease-out;
  position: relative;

  &:hover {
    transform: scale(1.1);
    -moz-box-shadow: 0px 0px 20px 5px rgba(16, 21, 22, 0.4);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(16, 21, 22, 0.4);
    box-shadow: 0px 0px 20px 5px rgba(16, 21, 22, 0.4);
    z-index: 1;
  }

  @include mobile() {
    width: 100%;
    flex-direction: row;
    height: fit-content;
    background-color: white;
    margin: 10px 15px;
    border-radius: 10px;
  }

  &__label {
    position: absolute;
    top: 5px;
    left: 5px;

    img {
      margin-right: 2px;
    }
  }

  &__img {
    img {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      @include mobile() {
        border-radius: 5px;
      }
    }

    @include mobile() {
      align-self: center;
      flex: 0 1 150px;
      margin: 0px 15px;
    }
  }

  &__goodDescription {
    @include mobile() {
      flex: 1 4 auto;
    }

    &__goodName {
      display: flex;
      height: 80px;
      align-items: center;
      margin: 0 10px;

      @include mobile() {
        height: auto;
        margin: 5px 10px 10px 10px;
      }
    }

    &__description {
      margin: 0px 10px 10px 10px;
    }

    &__order {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 5px 10px;
      height: 80px;
      border-top: solid 0.5px #a4acad;
      position: relative;

      @include mobile() {
        margin-top: 30px;
        border-top: none;
        height: auto;
      }

      .price {
        &--old {
          position: absolute;
          top: 0px;

          @include mobile() {
            top: -10px;
          }

          &::before {
            content: '';
            border-bottom: 3px solid #eb5757;
            position: absolute;
            width: 110%;
            bottom: 0.38em;
            left: -5%;
            transform: rotate(-10deg);
          }
        }
      }

      #wantBtn {
        background-color: $orange;
        border: none;
        border-radius: 5px;
        width: 143px;
        height: 40px;
        cursor: pointer;
        display: none;

        &.active {
          display: block;
        }

        @include mobile() {
          font-size: 18px;
          width: 95px;
          height: 26px;
        }
      }

      .orderButtonsContainer {
        display: none;

        &.active {
          display: flex;
        }

        .number {
          align-items: center;
          padding: 5px;
          &__button {
            width: 30px;
            height: 30px;

            @include mobile() {
              width: 20px;
              height: 20px;
            }

            &::before {
              width: 15px;
              left: 8px;

              @include mobile() {
                width: 10px;
                left: 5px;
                top: 9px;
              }
            }

            &--plus {
              &::after {
                width: 15px;
                position: absolute;
                left: 8px;

                @include mobile() {
                  width: 10px;
                  left: 5px;
                  top: 9px;
                }
              }
            }
          }
          &__input {
            width: 40px;

            @include mobile() {
              width: 30px;
            }
          }
        }
        #addToBacketBtn {
          border: none;
          cursor: pointer;
          background: transparent;
          z-index: 2;
          i {
            background: $orange;
            padding: 5px;
            border-radius: 5px;
            position: relative;
            z-index: -1;
          }

          &.green {
            i {
              color: #337433;
            }
          }

          span {
            position: absolute;
            top: 24px;
            right: 5px;
            font-size: 12px;

            @include mobile() {
              top: 4px;
              right: 7px;
            }
          }
        }
      }
    }
  }
}
