.container__card {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 400px;
  background-color: $white;
  border-radius: 10px;
  transition: all 0.5s ease-out;
  position: relative;

  &:hover {
    transform: scale(1.1);
    -moz-box-shadow: 0px 0px 20px 5px rgba(16, 21, 22, 0.4);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(16, 21, 22, 0.4);
    box-shadow: 0px 0px 20px 5px rgba(16, 21, 22, 0.4);
    z-index: 1;

    @include mobile() {
      transform: scale(1.04);
    }
  }

  @include mobile() {
    width: 100%;
    flex-direction: row;
    height: auto;
    background-color: white;
    border-radius: 10px;
  }

  &__label {
    position: absolute;
    top: 5px;
    left: 5px;

    img {
      margin-right: 2px;
    }
  }

  &__img {
    img {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      @include mobile() {
        border-radius: 5px;
      }
    }

    @include mobile() {
      align-self: center;
      flex: 0 1 150px;
      margin: 0px 15px;
    }
  }

  &__goodDescription {
    @include mobile() {
      flex: 1 4 auto;
    }

    &__goodName {
      display: flex;
      height: 80px;
      align-items: center;
      margin: 0 10px;

      @include mobile() {
        height: auto;
        margin: 5px 10px 10px 10px;
      }
    }

    &__description {
      margin: 0px 10px 10px 10px;
    }

    &__order {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 5px 10px;
      height: 80px;
      border-top: solid 0.5px #a4acad;
      position: relative;

      @include mobile() {
        margin-top: 30px;
        border-top: none;
        height: auto;
      }

      .price {
        &--old {
          position: absolute;
          top: 0.3em;

          @include mobile() {
            top: -1em;
          }

          &::before {
            content: '';
            border-bottom: 3px solid #eb5757;
            position: absolute;
            width: 110%;
            bottom: 0.38em;
            left: -5%;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
