.container {
  &__productsPage {
    &__title {
      display: flex;
      justify-content: space-between;
      margin: 30px 0;

      @include mobile() {
        justify-content: center;
      }

      &__left {
        flex: 0 1 200px;

        @include mobile() {
          flex: 0 1 120px;
        }

        img {
          height: 100%;
          position: relative;
          top: 0.15em;
        }

        &__category {
          display: inline;
          margin-left: 20px;
        }
      }
    }

    &__cardsContainer {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
