.container {
  &__productsPage {
    @include mobile() {
      margin: 0 10px;
    }

    &__title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      @include mobile() {
        justify-content: center;
      }

      &__left {
        flex: 0 1 200px;

        @include mobile() {
          flex: 0 1 150px;
        }

        img {
          height: 100%;
          position: relative;
          top: 0.15em;

          @include mobile() {
            top: 0.3em;
          }
        }

        &__category {
          display: inline;
          margin-left: 20px;

          @include mobile() {
            margin-left: 10px;
          }
        }
      }
    }

    &__cardsContainer {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: center;

      @include mobile() {
        gap: 0;
        row-gap: 10px;
      }
    }
  }
}
