div.card_container {
  display: flex;
  flex-direction: column;
  max-width: 288px;
  height: 400px;
  background-color: white;
  margin: 20px;

  div.card_img_container {
    flex: 0 1 253px;
    margin: 0 auto;
    height: 211px;

    img {
      width: 100%;
    }
  }

  div.good_description_container {
    flex: 0 1 auto;

    div.good_name_container {
      display: flex;
      height: 60px;
      margin: 0px 25px 0px 17px;

      p {
        margin: auto 0;
        font-size: 24px;
        font-weight: 500;
      }
    }

    div.good_description {
      flex: 0 1 auto;
      margin: 17px 25px 0px 17px;
      font-size: 18px;
      font-weight: 400;
      color: #a4acad;
      margin-bottom: 17px;
    }

    div.order_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 3px;
      padding: 6px 8px 6px 17px;
      border-top: solid 0.5px #a4acad;

      p {
        margin: 0px;
        font-size: 24px;
        font-weight: 700;
      }

      button {
        color: #f2f2f2;
        font-size: 24px;
        font-weight: 500;
        background-color: #f46d40;
        border: none;
        border-radius: 5px;
        width: 143px;
        height: 40px;
        cursor: pointer;
      }
    }
  }
}

@media only all and (max-width: 480px) {
  div.card_container {
    max-width: 100%;
    flex-direction: row;
    height: 120px;
    background-color: white;
    margin: 10px 15px;
    border-radius: 10px;

    div.card_img_container {
      flex: 0 1 100px;
      margin: 15px;
      height: 84px;
    }

    div.good_description_container {
      flex: 1 1 auto;

      div.good_name_container {
        display: flex;
        height: auto;
        margin: 18px 10px 0px 0px;

        p {
          font-size: 14px;
        }
      }

      div.good_description {
        flex: 0 1 auto;
        margin: 17px 25px 0px 17px;
        font-size: 14px;
        margin: 5px 10px 15px 0px;
      }

      div.order_container {
        padding: 6px 8px 6px 0px;
        border-top: none;

        p {
          font-size: 18px;
        }

        button {
          font-size: 18px;
          font-weight: 500;
          width: 95px;
          height: 26px;
        }
      }
    }
  }
}
