.reviewPage {
  @include mobile() {
    margin: 0 10px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;

    @include mobile() {
      .title__text {
        font-size: 20px;
      }
    }

    .title__addButton {
      color: $white;
      background-color: black;
      border: none;
      border-radius: 5px;
      padding: 0 10px;
    }
  }

  &__reviewsContainer {
    .review {
      background-color: $white;
      border-radius: 10px;
      margin-bottom: 20px;
      padding: 10px;

      @include mobile() {
        margin-bottom: 10px;
      }

      &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
      }
    }
  }
}
