.container {
  &__selfProductPage {
    padding: 0 20px;
    .selfCardContainer {
      display: flex;
      width: 100%;
      background-color: $white;
      border-radius: 20px;

      @include large() {
        flex-direction: column;
      }

      &__img {
        flex: 1 1 50%;
        position: relative;

        img {
          width: 100%;
          padding: 20px 10px;
          @include large() {
            padding: 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
          }
        }

        &--label {
          position: absolute;
          top: 10px;
          left: 10px;
          img {
            width: 25px;
            height: 25px;
            padding: 15px 0px 20px 5px;
          }
        }
      }

      &__goodDescription {
        flex: 1 1 50%;
        margin: 0 20px 0 40px;

        @include large() {
          margin: 0 20px;
        }

        &--goodName {
          padding: 20px 0;
        }

        .orderContainer {
          display: flex;
          padding-top: 40px;
          justify-content: flex-start;
          align-items: center;

          &__price {
            position: relative;
            padding-right: 20px;
            &--old {
              position: absolute;
              top: -1em;
              &::before {
                content: '';
                border-bottom: 3px solid #eb5757;
                position: absolute;
                width: 110%;
                bottom: 0.38em;
                left: -5%;
                transform: rotate(-10deg);
              }
            }
          }
        }
        &--ingridiensts {
          margin: 30px 0;

          p:first-child {
            padding-bottom: 5px;
          }
        }

        &--submit {
          width: 143px;
          height: 40px;
          margin-bottom: 20px;
          background-color: $orange;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          @include mobile() {
            font-size: 18px;
            width: 95px;
            height: 26px;
          }
        }
      }
    }

    .sliderContainer {
      width: 850px;
      margin: 0 auto;

      @include xxlarge() {
        width: 650px;
      }

      @include xlarge() {
        width: 440px;
      }

      @include large() {
        width: 280px;
      }

      &__title {
        text-align: center;
        padding: 30px 0 20px 0;
      }

      &__allCards {
        .cardContainer {
          width: 200px;
          &__img {
            margin: 0 auto;
            width: 200px;
            height: 200px;
            border-radius: 50%;
          }

          &__goodName {
            text-align: center;
            padding: 10px 0;
          }

          &__order {
            display: flex;
            justify-content: center;
            padding: 10px 0 10px 0;

            &--price {
              position: relative;
              padding-right: 20px;

              .price {
                &--old {
                  position: absolute;
                  top: -1em;
                  &::before {
                    content: '';
                    border-bottom: 3px solid #eb5757;
                    position: absolute;
                    width: 110%;
                    bottom: 0.38em;
                    left: -5%;
                    transform: rotate(-10deg);
                  }
                }
              }
            }
            &--button {
              background-color: $orange;
              width: 26px;
              height: 26px;
              border: none;
              border-radius: 50%;
              position: relative;
              cursor: pointer;

              &::before {
                content: '';
                border-bottom: 2px solid;
                width: 14px;
                position: absolute;
                top: 12px;
                left: 6px;
              }

              &::after {
                content: '';
                border-top: 2px solid;
                width: 14px;
                position: absolute;
                top: 12px;
                left: 6px;
                transform: rotate(90deg);
              }
            }
          }
        }
      }
    }
  }
}
