.container {
  &__selfProductPage {
    @include mobile() {
      margin: 0 10px;
    }

    .selfCardContainer {
      display: flex;
      width: 100%;
      background-color: $white;
      border-radius: 20px;

      @include mobile() {
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
      }

      &__img {
        flex: 1 1 50%;
        position: relative;

        img {
          width: 100%;
          padding: 20px 10px;
          @include large() {
            padding: 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
          }
        }

        &--label {
          position: absolute;
          top: 10px;
          left: 10px;
          img {
            width: 25px;
            height: 25px;
            padding: 15px 0px 20px 5px;
          }
        }
      }

      &__goodDescription {
        flex: 1 1 50%;
        margin: 0 20px 0 40px;
        padding-bottom: 10px;
        position: relative; //necessary for correct work offsetParent property in btnAddToBacketHandler.js

        @include large() {
          margin: 0 20px;
        }

        @include mobile() {
          display: grid;
          grid-template-rows: repeat(4, auto);
          grid-template-columns: auto 1fr;
        }

        &--goodName {
          padding: 20px 0;

          @include mobile() {
            grid-column: 1/3;
            padding: 10px 0;
          }
        }

        &--description {
          @include mobile() {
            grid-column: 1/3;
          }
        }

        .orderContainer {
          display: flex;
          padding-top: 40px;
          justify-content: flex-start;
          align-items: center;

          @include mobile() {
            grid-row: 4/5;
            padding-top: 10px;
            display: block;
          }

          &__price {
            position: relative;
            padding-right: 20px;

            @include mobile() {
              font-size: 24px;
            }

            &--old {
              position: absolute;
              top: -1em;
              &::before {
                content: '';
                border-bottom: 3px solid #eb5757;
                position: absolute;
                width: 110%;
                bottom: 0.38em;
                left: -5%;
                transform: rotate(-10deg);
              }

              @include mobile() {
                top: -1.2em;
              }
            }
          }
        }
        &--ingridiensts {
          margin: 30px 0;

          @include mobile() {
            grid-column: 1/3;
            margin: 15px 0 30px 0;
          }

          p:first-child {
            padding-bottom: 5px;
          }
        }

        #wantBtn,
        .orderButtonsContainer {
          @include mobile() {
            grid-row: 4/5;
            margin: 0 auto;
            width: 140px;
            justify-content: space-between;
          }
        }

        #wantBtn {
          @include mobile() {
            height: 32px;
            font-size: 24px;
          }
        }

        .orderButtonsContainer {
          @include mobile() {
            .number {
              &__button {
                width: 30px;
                height: 30px;

                &--minus::before,
                &--plus::before {
                  width: 15px;
                  left: 8px;
                  top: 14px;
                }

                &--plus::after {
                  width: 15px;
                  left: 8px;
                  top: 14px;
                }
              }
              &__input {
                width: 40px;
                font-size: 22px;
              }
            }

            #addToBacketBtn {
              font-size: 22px;

              span {
                top: 0.3em;
              }
            }
          }
        }
      }
    }

    .sliderContainer {
      margin: 0 auto;

      &__title {
        text-align: center;
        padding: 30px 0 20px 0;

        @include mobile() {
          font-size: 22px;
        }
      }

      &__allCards {
        .cardContainer {
          width: 200px;
          position: relative;

          @include mobile() {
            width: 150px;
          }

          &__img {
            margin: 0 auto;
            width: 200px;
            height: 200px;
            border-radius: 50%;

            @include mobile() {
              width: 150px;
              height: 150px;
            }
          }

          &__goodName {
            text-align: center;
            padding: 10px 0;
            font-size: 20px;
            height: 2em;

            @include mobile() {
              font-size: 18px;
            }
          }

          &__price {
            text-align: center;
            padding: 10px 0 10px 0;
            @include mobile() {
              font-size: 20px;
            }

            &--old {
              position: absolute;
              margin-left: 2em;
              bottom: 1.3em;
              &::before {
                content: '';
                border-bottom: 3px solid #eb5757;
                position: absolute;
                width: 110%;
                bottom: 1em;
                left: -0.2em;
                transform: rotate(-10deg);
              }

              @include mobile() {
                font-size: 16px;
                margin-left: 1em;
              }
            }
          }
        }
        .swiper-button-next,
        .swiper-button-prev {
          border-radius: 50%;
          color: black;
          width: 1.1em;
          height: 1.1em;

          &:hover {
            background-color: #000000ab;
            color: white;
          }
          &::after {
            font-size: 20px;
            font-weight: bold;
            position: relative;

            @include mobile() {
              font-size: 16px;
            }
          }
        }
        .swiper-button-next {
          right: 0px;
          &::after {
            left: 0.1em;
          }
        }
        .swiper-button-prev {
          left: 0px;
          &::after {
            right: 0.1em;
          }
        }
      }
    }
  }
}
