#wantBtn {
  background-color: $orange;
  border: none;
  border-radius: 5px;
  width: 143px;
  height: 40px;
  cursor: pointer;
  display: none;

  &.active {
    display: block;
  }

  @include mobile() {
    font-size: 18px;
    width: 95px;
    height: 26px;
  }
}

.orderButtonsContainer {
  display: none;

  &.active {
    display: flex;
  }

  .number {
    align-items: center;
    padding: 5px 5px 5px 0px;
    &__button {
      width: 30px;
      height: 30px;

      @include mobile() {
        width: 20px;
        height: 20px;
      }

      &::before {
        width: 15px;
        left: 8px;

        @include mobile() {
          width: 10px;
          left: 5px;
          top: 9px;
        }
      }

      &--plus {
        &::after {
          width: 15px;
          position: absolute;
          left: 8px;

          @include mobile() {
            width: 10px;
            left: 5px;
            top: 9px;
          }
        }
      }
    }
    &__input {
      width: 40px;

      @include mobile() {
        width: 30px;
      }
    }
  }
  #addToBacketBtn {
    position: relative;
    border: none;
    cursor: pointer;
    background: transparent;
    z-index: 2;
    i {
      background: $orange;
      padding: 5px;
      border-radius: 5px;
      position: relative;
      z-index: -1;
    }

    &.green {
      i {
        color: #337433;
      }
    }

    span {
      position: absolute;
      top: 0.1em;
      right: 0.3em;
      font-size: 12px;
    }
  }
}
