<footer class="footer">
  <div class="footer__container text text--s">
    <div class="footer__container__left">
      <ul class="footer__container__left__linkList">
        <li><a href="#" title="Перейти к информации">О компании</a></li>
        <li><a href="#" title="Перейти к информации">Доставка и оплата</a></li>
        <li><a href="#" title="Перейти к информации">Лента материалов</a></li>
        <li><a href="#" title="Перейти к информации">Политика возврата</a></li>
        <li><a href="#" title="Перейти к информации">Отзывы</a></li>
      </ul>
    </div>
    <div class="footer__container__central">
      <form class="footer__container__central__form">
        <label class="text--semi-bold">
          Введите номер <br />
          <input class="text text--s text--semi-bold" type="tel" placeholder="+375(__) ___ __ __" />
        </label>
        <p class="text--grey">Выберите удобный мессенджер для общения</p>
        <button type="submit" name="whatsup" title="Связаться с нами">
          <img src="../../img/socialIcons/whatsApp_icon.png" alt="whatsup" />
        </button>
        <button type="submit" name="telegram" title="Связаться с нами">
          <img src="../../img/socialIcons/telegram_icon.png" alt="telegram" />
        </button>
        <button type="submit" name="instagram" title="Связаться с нами">
          <img src="../../img/socialIcons/instagram_icon.png" alt="instagram" />
        </button>
      </form>
    </div>
    <div class="footer__container__right">
      <p class="text text--s text--semi-bold">Наши контакты:</p>
    </div>
  </div>
</footer>
