.footer {
  border-top: 0.5px solid $grey;
  max-width: 82%;
  margin: 0 auto;

  @include mobile() {
    border-top: none;
    border-bottom: 0.5px solid $grey;
    max-width: 100vw;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;

    @include large() {
      flex-wrap: wrap;
    }

    @include middle() {
      text-align: center;
    }

    @include mobile() {
      flex-direction: column;
      font-size: 18px;
      align-items: center;
      text-align: center;
    }

    &__left {
      padding-right: 20px;
      flex: 1 1 200px;

      &__linkList li {
        padding: 10px 0px;

        a:hover {
          color: $orange;
        }
      }

      @include mobile() {
        display: none;
      }

      @include large() {
        order: 1;
      }
    }

    &__central {
      flex: 1 2 200px;
      padding: 10px 20px 40px 10px;
      border-left: 0.5px solid $grey;
      border-right: 0.5px solid $grey;

      @include large() {
        border: none;
        padding-left: 0;
      }

      @include mobile() {
        flex: 1 1 auto;
        border-left: none;
        border-right: none;
        padding: 0px 15px 30px 15px;
      }

      &__form {
        label {
          @include mobile() {
            display: none;
          }
        }

        input {
          margin: 10px 0;
          outline: none;
          border: none;
          background: transparent;
          cursor: pointer;

          @include mobile() {
            display: none;
          }
        }

        p {
          padding: 10px 0;
          line-height: 22px;

          @include large() {
            width: 240px;
          }

          @include middle() {
            width: auto;
          }
        }

        button {
          border: none;
          cursor: pointer;
          opacity: 0.15;

          &:not(:last-child) {
            padding-right: 20px;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    &__right {
      padding-left: 20px;
      flex: 1 0 190px;

      @include large() {
        order: -1;
        padding-left: 0;
      }

      @include mobile() {
        flex: 1 1 auto;
        padding: 0px 15px 30px 15px;
      }

      &__contacts {
        ul {
          padding: 10px 0;

          li {
            padding-bottom: 5px;

            a {
              text-decoration: underline;

              &:hover {
                color: $orange;
              }
            }
          }
        }
      }

      &__address {
        ul li {
          padding-bottom: 5px;

          a:hover {
            color: $orange;
          }
        }
      }
    }
  }
}
