<div id="modalAddReview" class="modal">
  <div class="modal__content">
    <button class="modal__close text text--semi-bold text--s text--grey">X</button>
    <form id="addReviewForm" class="form text text--s text--semi-bold">
      <label class="form__field text text text--semi-bold">
        Поделитесь своими впечатлениями <br />
        о нашем заведении
        <textarea maxlength="400" name="review"></textarea>
      </label>
      <div class="buttonsContainer">
        <button type="button" class="cancel text text--white text--semi-bold">Отмена</button>
        <button type="submit" class="text text--white text--semi-bold">Отправить отзыв</button>
      </div>
    </form>
  </div>
</div>
