<div class="container__right--backet backet text">
  <div class="backet__user text--white text--semi-bold">
    <div class="backet__user--userName"></div>
    <button id="logoutBtn" class="backet__user--logout text text--grey text--semi-bold">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </button>
  </div>
  <div class="backet__message">
    <h5>Ваша корзина пуста.</h5>
    <p class="text--grey text--s">Добавьте же скорее что-нибудь!</p>
  </div>
  <div class="backet__deliveryPrice text--white text--xs">
    <p>Бесплатная доставка от @@price @@currency</p>
  </div>
</div>
