.backet {
  max-width: 290px;
  margin: 60px auto;
  padding: 0 20px;
  text-align: center;
  display: none;

  &.active {
    display: block;
  }

  &__user {
    display: flex;
    justify-content: space-between;
    background-color: $orange;
    padding: 10px;

    &--logout {
      border: none;
      cursor: pointer;
      background: transparent;
      z-index: 2;

      i {
        position: relative;
        z-index: -1;
      }

      &:hover {
        color: $white;
      }
    }
  }

  &__message--empty,
  &__message--full {
    background-color: $central-background;
    display: none;

    &.active {
      display: block;
    }

    h5 {
      padding: 10px 0;
    }

    p {
      padding-bottom: 25px;
    }
  }

  &__deliveryPrice {
    background-color: $orange;
    display: none;

    &.active {
      display: block;
    }

    p {
      padding: 10px 0;
    }
  }

  &__products {
    display: none;

    &.active {
      display: block;
    }

    &--orderSection.orderSection {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      .orderSection {
        &__submitOrder {
          border: none;
          background-color: $orange;
          padding: 5px 10px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
