@import './variables.scss';
@import './mixins.scss';

.text {
  font-family: DIN Pro, sans-serif;
  font-weight: 400;
  color: $main-text;
  font-size: 24px;

  &--light {
    font-weight: 300;
  }

  &--semi-bold {
    font-weight: 500;
  }

  &--bold {
    font-weight: 700;
  }

  &--xs {
    font-size: 14px;
    @include mobile() {
      font-size: 12px;
    }
  }

  &--s {
    font-size: 18px;
    @include mobile() {
      font-size: 12px;
    }
  }

  &--m {
    font-size: 24px;
    @include mobile() {
      font-size: 18px;
    }
  }

  &--l {
    font-size: 36px;
    @include mobile() {
      font-size: 24px;
    }
  }

  &--xl {
    font-size: 48px;
    @include mobile() {
      font-size: 24px;
    }
  }

  &--grey {
    color: $grey;
  }

  &--white {
    color: $white;
  }

  &--orange {
    color: $orange;
  }
}

.text__logo {
  font-family: Nexa, sans-serif;
  font-weight: 300;
  color: $main-text;
  font-size: 30px;
}
