$mobile-size: 576px;
$xsmall-size: 450px;
$large-size: 992px;
$xlarge-size: 1200px;
$xxlarge-size: 1400px;
$middle-size: 768px;

$main-text: #000000;
$grey: #a4acad;
$orange: #ff9846;
$dark-orange: #f46d40;
$red: #eb5757;
$white: #ffffff;
$white-semitransparent: #ffffffef;
$central-background: #f2f2f2;
$central-background-semitransparent: #f2f2f2f8;
