<section class="about">
  <h4>Заказать суши в ROMSEM</h4>
  <div class="about__description text text--s text--grey">
    Ресторан “Romsem” предлагаем своим клиентам самые вкусные суши с доставкой на дом, приготовленные по классическим и адаптированным к европейской аудитории рецептам, а также собственным наработкам наших поваров. Мы ценим время наших клиентов, поэтому вы можете заказать суши с доставкой на дом или в офис.<br />
    <br />
    В нашем меню более 20 видов суши:<br />
    <br />
    &bull; Классические с сырым лососем, тунцом, окунем.<br />
    &bull; Экзотические с тигровой креветкой, морским <br />
    гребешком. <br />
    &bull;Пикантные с копченым лососем, угрем.<br />
    <br />
    В меню также представлены гунканы: с начинкой из красной икры и тобико, а также феликсы, где японский майонез сочетается с рыбой, морепродуктами, угрем. Любители острых блюд могут купить суши с соусом спайси. Популярные начинки — копченая курица, снежный краб, креветки, гребешки, тунец, лосось и окунь.<br />
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo minus fugiat quasi. Enim sequi porro illo sapiente! Laudantium debitis, praesentium architecto assumenda perspiciatis fuga totam accusamus fugit, modi, corporis pariatur?<br />
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis facilis debitis sunt dolor praesentium laboriosam voluptate nostrum. Laboriosam, ad consequatur vitae, at aliquid, laborum eum commodi sapiente corrupti culpa omnis.
  </div>
  <div class="about__button text text--grey">
    <button type="button" class="read--more text text--grey">
      Подробнее
      <i class="fa-solid fa-angle-down"></i>
    </button>
    <button type="button" class="read--less text text--grey">
      Свернуть
      <i class="fa-solid fa-angle-up"></i>
    </button>
  </div>
</section>
