.search {
  position: relative;

  .search__form {
    width: 42px;
    height: 42px;
    padding-left: 10px;
    margin-top: 10px;

    @include large() {
      padding-left: 0px;
    }

    i {
      font-size: 30px;
      color: $grey;
    }

    .search__img {
      position: absolute;
      padding-top: 5px;
      top: 0px;
      left: 0;

      cursor: pointer;
    }

    input {
      height: 42px;
      width: 0px;
      border-color: $grey;
      background: $white;
      border-radius: 20px;
      box-shadow: 0 0 10px 0 $grey;
      padding: 0 42px 0 15px;
      border: 2px solid transparent;
      transition: 0.5s;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: -1;
      outline: none;
    }

    button {
      border: none;
      height: 42px;
      width: 42px;
      position: absolute;
      top: 0px;
      left: -5px;
      cursor: pointer;
      background: transparent;
      z-index: 2;
      display: none;
    }

    &--active {
      .search__img {
        display: none;
      }

      input {
        z-index: 1;
        width: 300px;

        @include large() {
          width: 250px;
        }

        @include mobile() {
          width: 85vw;
        }
      }

      button {
        display: block;
      }
    }
  }
}
