<div class="container__mobileMenu--buttons">
  <button id="openMenuButton" type="button" class="text text--semi-bold text-s">
    <img src="../../img/mobileMenu/menu.png" alt="Open menu button" /><br />
    Меню
  </button>
  <button id="openBacketButton" type="button" class="text text--semi-bold text-s">
    <img src="../../img/mobileMenu/backet.png" alt="Open backet button" />
    <span class="text--xs text--bold"></span><br />
    Корзина
  </button>
  <a href="/reviews" data-link="internal" class="text text--semi-bold text-s">
    <img src="../../img/mobileMenu/review.png" alt="Open feedbacks" /><br />
    Отзывы
  </a>
  <button id="logButtonMobileMenu" type="button" class="text text--semi-bold text-s">
    <div id="loginButtonMobileMenu">
      <i class="fa-solid fa-arrow-right-to-bracket text text--orange text--icon"></i><br />
      Войти <br />
      в аккаунт
    </div>
    <div id="logoutButtonMobileMenu">
      <i class="fa-solid fa-arrow-right-from-bracket text text--orange text--icon"></i><br />
      Выйти <br />
      из аккаунта
    </div>
  </button>
</div>
