<div class="container__mobileMenu--buttons">
  <button id="openMenuButton" type="button" class="text text--semi-bold text-s">
    <img id="openMenuButton" src="../../img/mobileMenu/menu.png" alt="Open menu button" />
    Меню
  </button>
  <button id="openBacketButton" type="button" class="text text--semi-bold text-s">
    <img src="../../img/mobileMenu/backet.png" alt="Open backet button" />
    Корзина
  </button>
  <button id="openReviewButton" type="button" class="text text--semi-bold text-s">
    <img src="../../img/mobileMenu/review.png" alt="Open /review button" />
    Отзывы
  </button>
</div>
<div id="menuMobile" class="container__mobileMenu--menu text text--semi-bold text--l"></div>
