.container__mobileMenu--buttons {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 50px;
  margin: 10px 0;

  button {
    flex: 0 0 auto;
    background-color: transparent;
    border: none;
    line-height: 1.5;
    cursor: pointer;

    &:hover {
      color: $orange;
    }

    &#openBacketButton {
      position: relative;

      span {
        position: absolute;
        color: $white;
        background-color: $dark-orange;
        border-radius: 50%;
        width: 1.3em;
        height: 1.2em;
        top: -5px;
        right: 10px;
        display: none;

        &.active {
          display: block;
        }
      }
    }

    &#logButton {
      div {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}
