.container__mobileMenu--buttons {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
  margin: 10px 0;

  a {
    text-align: center;
    position: relative;
    top: -1px;

    img {
      position: relative;
      top: 2px;
    }
  }

  button,
  a {
    flex: 0 0 auto;
    background-color: transparent;
    border: none;
    line-height: 1.5;
    cursor: pointer;

    &:hover {
      color: $orange;
    }

    &#openBacketButton {
      position: relative;
      top: 1px;

      span {
        position: absolute;
        color: $white;
        background-color: $dark-orange;
        border-radius: 50%;
        width: 1.3em;
        height: 1.2em;
        top: -5px;
        right: 10px;
        display: none;

        &.active {
          display: block;
        }
      }
    }

    &#logButtonMobileMenu {
      div {
        display: none;

        &.active {
          display: block;
        }

        i {
          position: relative;
          top: -0.1em;
        }
      }
    }
  }
}
