.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f3ededb3;

  &.active {
    display: flex;
    z-index: 1000;
  }

  &__content {
    position: relative;
    margin: auto;
    background-color: $white;
    padding: 30px 25px 25px 25px;
    border-radius: 15px;
  }

  &__close,
  &__message--close {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    background: transparent;
    border: none;
    width: 25px;
    height: 25px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: $orange;
      color: $white;
    }
  }
}

.tabs {
  > input {
    display: none;
  }
  #tab-1:checked ~ #login {
    display: flex;
  }
  #tab-1:checked ~ #create {
    display: none;
  }
  #tab-2:checked ~ #create {
    display: flex;
  }
  #tab-2:checked ~ #login {
    display: none;
  }

  #tab-1:checked ~ .tabs__items [for='tab-1'],
  #tab-2:checked ~ .tabs__items [for='tab-2'] {
    border-bottom: 3px solid $dark-orange;
  }

  &__items {
    display: flex;
    column-gap: 20px;
    border-bottom: 1px solid lightgray;
  }

  &__item {
    cursor: pointer;
    padding: 5px 10px;
  }
}

.form {
  flex-direction: column;

  &__field {
    padding: 5px 0;
    display: flex;
    flex-direction: column;

    input {
      margin-top: 5px;
      flex: 1 0 auto;
      padding: 5px 10px;
      border-radius: 5px;
      border: 2px solid $grey;
    }

    &.invalid:after {
      content: attr(data-error);
      color: red;
      margin-top: 5px;
      font-size: 12px;
    }
  }

  button {
    background-color: $orange;
    border: none;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
}
