.modal__message {
  position: absolute;
  width: 200px;
  min-height: 50px;
  top: calc(50vh - 110px);
  left: calc(50vw - 120px);
  z-index: 10000;
  background-color: $central-background;
  padding: 30px 25px 25px 25px;
  border-radius: 15px;
  display: none;

  &.active {
    display: block;
  }
}
