@import './styles/fonts.scss';
@import './styles/variables.scss';
@import './styles/mixins.scss';
@import './styles/typography.scss';
@import './partials/header/header.scss';
@import './partials/header/header__logo.scss';
@import './partials/about/about.scss';
@import './partials/footer/footer.scss';
@import './partials/cards/mainPage.scss';
@import './partials/cards/productsPage.scss';
@import './partials/cards/selfProductPage.scss';
@import './partials/backet/backet.scss';
@import './partials/loginLogout/loginLogout.scss';
@import './partials/buttons/getPlusMinusBtnNumberInput.scss';
@import './partials/cards/productCards.scss';
@import './partials/auth/auth.scss';
@import './partials/auth/errorMessage.scss';
@import './partials/cards/cardForBacket.scss';
@import './partials/modalMessage/modalMessage.scss';
@import './partials/mobileMenu/mobileMenu.scss';

body {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1920px;
  background-color: $white;

  .container__left {
    flex: 0 1 200px;
    margin-left: 30px;
    margin-right: 20px;

    @include xlarge() {
      flex: 0 1 170px;
      margin-left: 10px;
      margin-right: 10px;
    }

    @include mobile() {
      display: none;
    }

    &__menu {
      padding: 30px 10px 10px 30px;

      @include middle() {
        padding: 30px 0px 10px 10px;
      }

      ul li {
        padding-bottom: 30px;

        a {
          img {
            width: 30px;
            padding-right: 10px;
            position: relative;
            top: 0.25em;
          }

          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
  .container__central {
    flex: 2 2 740px;
    background-color: $central-background;

    &__generatedContent {
      max-width: 950px;
      padding: 0 20px;
      margin: 30px auto;

      @include mobile() {
        margin: 20px auto;
      }
    }
  }
  .container__right {
    flex: 1 1 230px;
    max-width: 330px;

    @include mobile() {
      display: none;
    }
  }
  .container__mobileMenu {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10000;
    background-color: $white;
    width: 100%;
    border-top: 1px solid $grey;

    @include mobile() {
      display: block;
    }
  }
}
