@import './styles/fonts.scss';
@import './styles/variables.scss';
@import './styles/mixins.scss';
@import './styles/typography.scss';
@import './partials/header/header.scss';
@import './partials/header/header__logo.scss';
@import './partials/footer/footer.scss';

body {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1920px;
  background-color: $white;

  .container__left {
    flex: 0 1 200px;
    margin-left: 30px;
    margin-right: 20px;

    @include mobile() {
      display: none;
    }
  }
  .container__central {
    flex: 1 1 1170px;
    background-color: $central-background;
  }
  .container__right {
    flex: 0 1 330px;

    @include mobile() {
      display: none;
    }
  }
}
