@import './styles/fonts.scss';
@import './styles/variables.scss';
@import './styles/mixins.scss';
@import './styles/typography.scss';
@import './partials/header/header.scss';
@import './partials/header/header__logo.scss';
@import './partials/about/about.scss';
@import './partials/footer/footer.scss';
@import './partials/cards/mainPage.scss';
@import './partials/cards/productsPage.scss';
@import './partials/cards/selfProductPage.scss';
@import './partials/backet/backet.scss';
@import './partials/loginLogout/loginLogout.scss';
@import './partials/buttons/getPlusMinusBtnNumberInput.scss';
@import './partials/cards/productCards.scss';
@import './partials/auth/auth.scss';
@import './partials/auth/errorMessage.scss';
@import './partials/cards/cardForBacket.scss';
@import './partials/modalMessage/modalMessage.scss';
@import './partials/mobileMenu/mobileMenu.scss';
@import './partials/cards/wantBtnNodeBlock.scss';

body {
  box-sizing: border-box;

  &.lock {
    overflow: hidden;
  }
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(220px, 250px) minmax(460px, 1fr) minmax(230px, 310px);
  max-width: 1920px;
  background-color: $white;

  @include xlarge() {
    grid-template-columns: 185px minmax(460px, 1fr) minmax(230px, 260px);
  }

  @include large() {
    grid-template-columns: 230px minmax(460px, 1fr);
    grid-template-rows: minmax(400px, auto) auto;
  }

  @include middle() {
    grid-template-columns: minmax(460px, 1fr);
    grid-template-rows: auto;
  }

  @include mobile() {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-rows: auto;
  }

  .container__left {
    margin: 0 auto;
    padding: 0 20px;

    @include xlarge() {
      padding: 0 15px;
    }

    @include large() {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    @include middle() {
      position: fixed;
      top: 100vh;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: $white-semitransparent;
      z-index: 5;
      transition: all 0.5s ease-out;

      &.active {
        top: 0vh;
        overflow: auto;
      }

      .header__logo {
        display: none;
      }
    }

    &__menu {
      padding: 30px 10px 10px 30px;

      @include xlarge() {
        padding: 30px 10px 10px 10px;
      }

      @include middle() {
        padding-bottom: 60px;
      }

      ul li {
        padding-bottom: 30px;

        &#closeMobileMenu {
          display: none;

          @include middle() {
            display: block;
            width: 20px;
            position: absolute;
            left: 95vw;
            top: 10px;
            padding: 0px;
            cursor: pointer;

            &:hover {
              color: $orange;
            }
          }
        }

        a {
          img {
            width: 30px;
            padding-right: 10px;
            position: relative;
            top: 0.25em;
          }

          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
  .container__central {
    background-color: $central-background;
    @include large() {
      grid-column: 2/3;
      grid-row: 1/3;
    }
    @include middle() {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    &__generatedContent {
      max-width: 1020px;
      min-width: 460px;
      padding: 0 20px;
      margin: 30px auto;

      @include mobile() {
        margin: 20px auto;
        min-width: 320px;
        padding: 0px;
      }
    }
  }
  .container__right {
    @include large() {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    @include middle() {
      position: fixed;
      top: 100vh;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: $central-background-semitransparent;
      z-index: 5;
      transition: all 0.5s ease-out;

      &.active {
        top: 0vh;
        overflow: auto;
      }
    }
  }
  .container__mobileMenu {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10000;
    background-color: $white;
    width: 100%;
    border-top: 1px solid $grey;

    @include middle() {
      display: block;
    }
  }
}
